---
import type { HTMLAttributes } from 'astro/types';
import type { CollectionEntry } from 'astro:content';
import { formatDate, slugify } from '../../helpers';

type Props = {
    post: {
        slug: string;
    } & CollectionEntry<'post'>['data'],
} & HTMLAttributes<'article'>
const { post, ...rest } = Astro.props;
---

<article {...rest}>
    <header>
        <a href={`/posts/${post.slug}`} hreflang="en-us">
            <h3>{post.title}</h3>
        </a>
        <div>
            <time datetime={post.published_at.toUTCString()}>
                {formatDate(post.published_at)}
            </time>
            <span>•</span>
            <a href={`/categories/${slugify(post.category)}`} hreflang="en-us">
                {post.category}
            </a>
        </div>
        <!-- <pre>{JSON.stringify(post, null, 2)}</pre> -->
    </header>
    <p>{post.summary}</p>
    <footer>
        {post.tags && post.tags.map((tag, i) => (
            <span data-key={i} data-tag>{tag}</span>
        ))}
    </footer>
</article>

<style>
    /* article {
    } */
    a {
        text-decoration: none;
        justify-items: center;
        align-content: center;
    }
    a:hover {
        text-decoration: underline;
        text-underline-offset: 0.2rem;
    }
    article a h3 {
        margin-bottom: 0.2rem;
        font-size: 1.6rem;
    }
    header div {
        display: flex;
        gap: 0.6rem;
        margin-bottom: 1.4rem;
        justify-items: center;
        font-size: 1.15rem;
    }
    time {
        font-family: 'Syne', 'Atkinson Hyperlegible', 'Courier New', Courier, monospace;
    }
    p {
        margin-bottom: 2rem;
    }
    footer {
        width: auto;
        display: flex;
        margin-top: auto;
        height: auto;
        flex-wrap: wrap;
    }
    [data-tag] {
        padding-inline: 0.6rem;
        margin: 0.1rem 0.2rem;
        border-radius: 0.6rem;
        border: 2px solid var(--color-border-accent);
        background-color: var(--color-tag-accent);
    }
    [data-tag]::before {
        content: '#';
    }

    @media (min-width: 768px) {
        
    }
</style>
